<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../style/style.css">
        <title>WeatherAPP</title>
    </head>
    <body>
        <div id="app">
            <div class="my-container pt-3 pb-3">
                <div class="form-search">
                    <form class="d-flex" action="index.html"  method="get" @submit.prevent="getCityInfo(city),getCityData(city)">
                        <input class="form-control" type="text" placeholder="Enter Your City" name="city" v-model="city" aria-label="default input example" pattern="[A-Za-z]+" title="Please enter a valid City Name" required>
                        <button class=" ms-2 btn btn-outline-primary">Search</button>
                    </form>
                </div>
                <div v-if="this.error">
                    <div class="row text-center text-white">
                        <div class="col">
                            <h4 class="pt-3 pb-3">
                                City Not Found
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="info" v-if="cityData.main" >
                    <div class="container">
                        <div class="row pt-5 flex-column text-center" v-if="this.hideCityInfo === true">
                            <div class="col" v-if="cityData.clouds.all <= 30">
                                <i class="fa-solid fa-sun fa-5x" style="color: yellow;"></i>
                            </div>
                            <div class="col position-relative" v-if="cityData.clouds && cityData.clouds.all > 31 && cityData.clouds.all < 70">
                                <i class="fa-solid fa-sun fa-5x" style="color: yellow;"></i>
                                <i class="fa-solid fa-cloud fa-3x" style="color: whitesmoke; position: absolute; top: 0; right: 200px;"></i>
                                <i class="fa-solid fa-cloud fa-3x" style="color: whitesmoke; position: absolute; top: 20px; right: 120px;"></i>
                            </div>
                            <div class="col" v-if="cityData.clouds.all >= 70">
                                <i class="fa-solid fa-cloud fa-5x" style="color: whitesmoke;"></i>
                            </div>
                            <div class="col pt-4 pb-2 position-relative">
                                <h1>
                                    {{cityData.name}} 
                                </h1>
                            </div>
                            <div class="col pt-2 pb-5">
                                <h2>
                                    <i class="fa-solid fa-temperature-three-quarters"></i>
                                    {{cityData.main.temp.toFixed(0)}} °C
                                </h2>
                            </div>
                            <div class="row text-center text-white">
                                <div class="col ps-3 p-2 m-3">
                                    <i class="fa-solid fa-wind fa-3x" style="color: white;"></i>
                                    <h6>
                                        Wind Speed
                                    </h6>
                                    <h5>
                                        {{cityData.wind.speed}} km/h
                                    </h5>
                                </div>
                                <div class="col ps-3 p-2 m-3">
                                    <i class="fa-solid fa-water fa-3x" style="color: white;"></i>
                                    <h6>
                                        Humidity
                                    </h6>
                                    <h5>
                                        {{cityData.main.humidity}} %
                                    </h5>
                                </div>
                            </div>
                        </div>
                        <div class="row flex-column text-center" v-else="this.hideCityInfo === false">
                            <div class="col pt-3 position-relative">
                                <h4>
                                    Meteo in {{cityData.name}} during next days!
                                </h4>
                            </div>
                            <div class="col pt-2" >
                                <div class="row text-center">
                                    <div class="col-6 my-col" v-for="day in dayInfo">
                                        <div class="col-container">
                                            <div v-if="day.clouds < 49">
                                                <i class="p-2 fa-solid fa-sun fa-3x" style="color: yellow;"></i>
                                            </div>
                                            <div v-if="day.clouds > 50">
                                                <i class="p-2 fa-solid fa-cloud fa-3x" style="color: whitesmoke;"></i>
                                            </div>
                                            <h5 class="p-2">
                                                {{day.day}}/{{day.month}}
                                            </h5>
                                            <h3>
                                                <i class="fa-solid fa-temperature-three-quarters"></i>
                                                {{day.temperature.toFixed(0)}} °C
                                            </h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button class="btn-more btn btn-outline-success" @click="toggleCityInfo">
                            <i class="fa-solid" :class="hideCityInfo ? 'fa-caret-right' : 'fa-caret-left'"></i>
                        </button>
                    </div>
                </div>
                
                <div class="my-img" v-if="cityInfoFoto">
                    <img :src="cityInfoFoto" alt="">
                </div>
            </div>
        </div>
    </body>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js" integrity="sha512-uMtXmF28A2Ab/JJO2t/vYhlaa/3ahUOgj1Zf27M5rOo8/+fcTUVH0/E0ll68njmjrLqOBjXM3V9NiPFL5ywWPQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="../js/scripts.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</html>